html{
  overflow: auto;
  background-image: url('https://images.pexels.com/photos/1771265/pexels-photo-1771265.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 50vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    line-height: -10rem;
  }
  
  .active, .accordion:hover {
    background-color: skyblue;
  }
  
  .panel {
    width: 50vw;
    padding: 0 18px;
    background-color:rgba(0, 0, 255, 0.548);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  button{
    width: 5vw;
    height: 5vh;
    background-color: transparent;
  }
  button:hover{
    background-color: bisque;
  }
