/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
body {
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-image: url('https://images.pexels.com/photos/1771265/pexels-photo-1771265.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;

}

.line {
      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 250%;
      font-weight: bolder;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 4s steps(30) 1s 1 normal both,
      blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0em;
      }
      to {
            width: 16em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}
@media(max-width:500px){
      .anim-typewriter {
            font-size: 1.1em;
      }
}